.item-home-sobre {
	text-align: center;

	i {
		color: $cor-principal;
		border: 1px solid $cor-principal;
		border-radius: 50%;
		width: 70px;
		height: 70px;
		line-height: 70px;
		font-size: 32px;
		@include animacao;
	}

	img {
		display: inline-block;
		border-radius: 50%;
	}

	h3 {
		color: #000;
		margin: 20px 0;
		display: block;

		&:after {
			content: '';
			display: block;
			height: 1px;
			width: 20%;
			background-color: $cinza; 
			margin: 20px auto;
			@include animacao;
		}
	}

	p {

	}

	&:hover {
		i {
			background-color: $cor-principal;
			color: #ffffff;
		}

		h3 {
			&:after {
				width: 50%;
				background-color: $cor-principal; 
			}
		}
	}
}

.servicos-home {
	h2 {
		color: $cor-principal; 

		&.sub-titulo {
			color: $cor-txt;
		}
	}

	ul {
		display: table;
		width: 100%;

		.item-home-servico {
			display: table-cell;
			height: 40vh;
			width: 20%;
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center;
			position: relative;
			overflow: hidden;
			@include animacao;

			h3 {
				position: absolute;
				bottom: -40vh;
				width: 100%;
				background: #fff;
				text-align: center;
				padding: 30px 0;
				color: $cor-principal; 
				@include animacao;
			}

			&.active {
				width: 30%!important;

				h3 {
					bottom: 0;
				}
			}

			&.no-active {
				width: 17.5%;
			}
		}
	}
}