.page {	
	.box-content {
		//height: auto;
		//min-height: 0;

		&.header-page {
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center; 
			width: 100%;
			height: 30vh;
			min-height: 0;

			.mask {
				background-color: rgba($amarelo,0.5);
				min-height: 0;
				height: 30vh;

				.container {
					height: 30vh;

					div {
						bottom: 0;
						line-height: 90px;
						display: block;
						text-align: center;
						position: absolute;
						width: 100%;

						span {
							font-size: 60px;
							color: $verde;
							top: 11px;
							position: relative;
							font-family: "Satisfy",sans-serif;
							//text-transform: lowercase;
							display: inline-block;
							padding: 0 50px;
						}

						&:before, &:after {
							content: '';
							background-color: $verde;
							width: 150px;
							height: 2px;
							display: inline-block;
						}
					}
				}
			}
		}

		.content-post {
			h4 {
				margin-bottom: 15px;
			}

			.img-ico-cont {
				width: 100%;
			}
		}
	}
}