.treinamentos {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center; 
	
	//height: 90vh;

	.box-treinamentos {
		height: 100vh;
		background-color: rgba($amarelo,0.5);
		@include box-sizing;
	}

	.cont-treinamentos {
		background-color: rgba($amarelo,0.5);
		padding: 40px!important;

		.table {
			margin: 0;
		}

		h2 {
			margin-bottom: 10px;
		}

		h4 {
			
		}

		p {
			margin-bottom: 20px;
		}
	}

	.item {
		border-top: 5px solid $verde;
		border-bottom: 5px solid $amarelo;

		&:hover {
			.img-treinamentos {
				.mask-treinamentos {
					opacity: 1;
				}
			}

			a {
				background-color: $verde;
				color: #ffffff;

				i {
					color: #ffffff;
				}

				&:hover {
					background-color: darken($verde, 10%);
				}
			}
		}
	}

	.img-treinamentos {
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center; 
		height: 40vh;
		position: relative;

		i {
			position: absolute;
			color: #e1f6cb;
			font-size: 9rem;
			top: 50%;
			margin: -72px 0 0 -72px;
			left: 50%;
			opacity: 1;
			cursor: pointer;
		}
	}

	iframe {
		display: none;
	}

	.item-slide-treinamentos {
		.img-treinamentos, .cont-treinamentos {
			height: 60vh;
		}
	}
}

.slide-treinamento {
	display: table;
	height: 100vh;
	margin: 0 auto;
	width: 80%;

	.middle-treinamento {
		vertical-align: middle;
		display: table-cell;
	}
}

#treinamentos {
	//max-width: 700px;
	margin: 0 auto;

	.owl-stage-outer {


		.owl-stage {

		}
	}

	.owl-nav {
		position: absolute;
		top: 50%;
		height: 0;
		width: 100%;

		.owl-prev, .owl-next {
			position: absolute;
			cursor: pointer;
			@include animacao;

			i {
				color: #ffffff;
				font-size: 60px;
			}

			&.disabled {
				cursor: default;
				opacity: .3;
			}
		}

		.owl-prev {
			left: -150px;
		}
		.owl-next {
			right: -150px;
		}
	}
}

.info-tec {
	.col-2 {
		@include clear;
	}

	p {
		font-size: .8rem;
		line-height: 1rem;
		margin-bottom: 10px;

		strong {
			font-size: 1rem;
			display: block;
			line-height: 1.5rem;
		}
	}
}