strong {
	font-weight: $bold;
}

h1 {
	display: inline-block;
	max-width: $wLogo;
	width: 100%;
	z-index: 9999;
	position: relative;
	@include animacao();

	a {
		display: block;
		@include animacao();

		img {
			width: 100%;
			@include animacao;
		}

		&:hover {
			opacity: .75;
		}
	}
}

h2 {
	font-family: $raleway;
	font-size: 3rem;
	line-height: 3rem;
	display: block;
	text-align: center;
	margin-bottom: 50px;

	&.sub-titulo {
		font-size: 2rem;
		line-height: 2rem;
	}
}

h3 {
	font-family: $raleway;
	font-size: 1.225rem;
	line-height: 1.5rem;
}

h4 {
	font-weight: $bold;
	font-size: 1rem;
	line-height: 1.225rem;
	color: $cor-txt;
}

h5 {
}

h6 {

}

p {
	font-size: $font-size;
	line-height: $font-size+.3;
	font-weight: $regular;
	margin-bottom: 20px;
	color: $cor-txt;

	&.mini {
		font-size: 1rem;
		line-height: 1.25rem;
	}

	&.destaque {
		font-size: 1.5rem;
		line-height: 1.8rem;
		font-weight: $light;
	}

	&.destaque-mini {
		font-size: .875rem;
		line-height: 1rem;
		max-width: 510px;
		margin: 0 auto;
	}

	.info-p {
		font-size: .75rem;
		display: block;
		line-height: 2rem;
	}
	
	@media all and (max-width: 770px){
		font-size: 1.25rem;
		line-height: (1.25rem)+.5;
	}

	&:last-child {
		margin-bottom: 0px;
	}
}

.margin-top-30 {
	margin-top: 30px;
}

.margin-top-40 {
	margin-top: 40px;
}

.justify-center {
	text-align: justify;  
	-moz-text-align-last: center;
	text-align-last: center;
}

.justify-left {
	text-align: justify;  
	-moz-text-align-last: left;
	text-align-last: left;
}

.justify {
	text-align: justify;  
	text-justify: inter-word;
}

.right {
	text-align: right;
}

.center {
	text-align: center;
}
.no-margim {
	margin: 0!important;
}

a {
	text-decoration: none;

	&:hover {
		text-decoration: none;		
	}
}

img {
	&.center {
		margin: 20px auto;
		display: block;
	}
}

.paginacao {
margin: 50px auto 0;
text-align: center;

	li {
		display: inline-block;
		margin: 0px;

		span, a {
			display: block;
			font-size: 1.225rem;
			font-weight: $regular;
			line-height: 40px;
			height: 40px;
			padding: 0 10px;
		}

		a {
			color: $verde;
			@include animacao;

			.fa {
				font-size: 1.225rem;
				font-weight: $regular;
				color: $verde;
			}

			&:hover {
				background-color: rgba($verde, .5);
			}
		}

		span {
			background-color: $verde;
			color: #ffffff;
		}
	}
}

.ico-texto {
	display: block;
	margin: 0 auto 15px;
	@include clear;
}