@import 'fontawesome/font-awesome';
//@import 'fontawesome_vs4/fontawesome';

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700');
$font-family: 'Source Sans Pro', sans-serif;
$playfair: $font-family;
$satisfy: $font-family;