.redes {
	float: left;
	width: 100%;
	margin-top: 30px;

	a {
		margin-right: 15px;

		i {
			font-size: 1.5rem;
			color: $cor-txt;
			@include animacao;
		}

		&:hover {
			i {
				color: $cor-principal;
			}
		}
	}
}

.footer {
	padding: 20px 0 !important;
	background-color: $cor-txt;

	p, i {
		color: #ffffff;
	}

	p {
		float: left;
		margin: 2px 0 0;
	}

	.redes {
		float: right;
		width: auto;
		margin-top: 0px;

		a {
			i {
				color: #ffffff;
			}

			&:hover {
				i {
					color: $cor-principal;
				}
			}
		}
	}
}