form {
	width: 100%;
	@include clear();

	input, textarea, select {
		max-width: 100%;
		width: 100%;
		background-color: #ffffff;
		font-size: 1rem;
		color: $cor-txt;
		margin-bottom: 15px;
		overflow: hidden;

		@include placeholder {
			opacity: 1;
			color: $cor-txt;
		}
	}

	select {
		height: 34px;
		padding: 0 17px;

		option {
			font-size: 1rem;
		}
	}

	input[type='text'] {
		line-height: 34px;
		height: 34px;
		padding: 0 20px;
		@include box-sizing;
	}

	textarea {
		padding: 20px;
		height: 150px;
		resize: vertical;
		@include box-sizing;
	}

	&.orcamento-unit {
		max-width: 900px;
		margin: 65px auto 0!important;
	}

	&.contato {
		input, textarea {
			border: 1px solid $cinza;
		}
	}
}

fieldset {
	&:first-child {
		margin: 0;
	}

	&.erro {
		input, textarea {
			border-color: red;

			&::-webkit-input-placeholder {
				color: red;
			}

			&:-moz-placeholder {
				color: red; 
			}

			&::-moz-placeholder {
				color: red;
			}

			&:-ms-input-placeholder {  
				color: red;
			}
		}
	}
}

/* hover style just for information */
label:hover:before {
  border: 1px solid #4778d9!important;
}

input[type='submit'], .button {
	display: inline-block;
	width: auto;
	height: 34px;
	line-height: 33px;
	color: $verde;
	font-weight: $regular;
	font-size: .7rem; 
	text-align: center;
	padding: 0px 12px;
	border: 1px solid $verde;
	text-transform: uppercase;
	letter-spacing: 2px;
	@include animacao;

	i {
		color: $verde;
		padding-left: 5px;
		@include animacao;
	}

	&:hover {
		background-color: darken($verde, 10%);
		color: #ffffff;

		i {
			color: #ffffff;
		}
	}

	&.enviar {
		display: block;
		color: #ffffff;
		height: auto;
		width: 180px;
		margin: 10px auto 0;
		font-size: .8rem;
		border-color: $cor-principal;
		background-color: $cor-principal;
		padding: 0;
		line-height: 45px;
		cursor: pointer;

		i {
			padding: 0 10px 0 0;
			position: relative;
			top: 2px;
			color: #ffffff;
			font-size: 1.225rem;
		}

		&:hover {
			color: $cor-principal;
			background-color: #ffffff;
			border-color: $cor-principal;

			i {
				color: $cor-principal;
			}
		}
	}

	&.btn-slide {
		background-color: #ffffff;
		font-size: .7rem;
		color: #000;
		display: inline-block;
		border: none;
		height: 40px;
		line-height: 40px;
		padding: 0 35px;
		margin-top: 30px;

		&:hover {
			background-color: $cor-principal;
			color: #ffffff;
		}
	}

	&.saiba-mais-inline {
		display: block;
		color: $cor-txt;
		height: auto;
		line-height: normal;
		width: 110px;
		margin: 6px auto 0;
		font-size: .6rem;
		border: none;

		i {
			color: $cor-txt;
		}

		&:hover {
			color: $cor-principal;
			background-color: transparent;

			i {
				color: $cor-principal;
			}
		}
	}

	&.saiba-mais-box {
		display: block;
		color: $cor-txt;
		height: auto;
		width: 300px;
		margin: 50px auto 0;
		font-size: .8rem;
		border-color: $cor-txt;
		padding: 0;
		line-height: 45px;

		i {
			color: $cor-txt;
			padding: 0 10px 0 0;
			position: relative;
			top: 2px;
			font-size: 1.225rem;
		}

		&:hover {
			color: #ffffff;
			background-color: $cor-principal;
			border-color: $cor-principal;

			i {
				color: #ffffff;
				border-color: $cor-principal;
			}
		}
	}

	&.send-box-destaque {
		display: block;
		color: #ffffff;
		height: auto;
		width: 300px;
		margin: 50px auto 0;
		font-size: .8rem;
		border-color: #ffffff;
		padding: 0;
		line-height: 45px;

		i {
			padding: 0 10px 0 0;
			position: relative;
			top: 2px;
			color: #ffffff;
			font-size: 1.225rem;
		}

		&:hover {
			color: $cor-principal;
			background-color: #ffffff;
			border-color: #ffffff;

			i {
				color: $cor-principal;
				border-color: #ffffff;
			}
		}
	}

	&.send-box-form {
		display: block;
		color: $cor-principal;
		height: auto;
		width: 180px;
		cursor: pointer;
		margin: 20px auto 0;
		font-size: .8rem;
		border-color: transparent;
		padding: 0;
		line-height: 45px;
		background-color: #ffffff;

		i {
			padding: 0 10px 0 0;
			position: relative;
			top: 2px;
			color: $cor-principal;
			font-size: 1.225rem;
		}

		&:hover {
			color: #ffffff;
			background-color: $cor-principal;
			border-color: #ffffff;

			i {
				color: #ffffff;
				border-color: #ffffff;
			}
		}
	}
}

.select {
	overflow: hidden;
	background-color: #ffffff;
	line-height: 40px;
	height: 40px;
	padding: 0 0 0 10px;
	margin-top: 10px;
	display: block;
	position: relative;
	@include box-sizing();

	i {
		position: absolute;
		top: 14px;
		color: #9f9fa0;
	}

	select {
		width: 92%;
		//padding-right: 135px;
		background-color: transparent;
		font-weight: $light;
		font-size: .8rem;
		box-sizing: content-box;
		position: relative;
		z-index: 99;
		cursor: pointer;
		margin-left: 12px;
		letter-spacing: .5px;
		text-transform: uppercase;
		//font-style: italic;

		option {
			font-weight: $light;
			font-size: .7rem;
			letter-spacing: .5px;
			text-transform: uppercase;
		}

		-webkit-appearance: none;
		-moz-appearance: none;
		//text-indent: 1px;
		text-overflow: '';
	}

	&:after {
		content: "\f107";
		position: absolute;
		right: 13px;
		top: 12px;
		font: normal normal normal 36px/1 FontAwesome;
		cursor: pointer;
		height: 15px;
		line-height: 15px;
		z-index: 0;
		color: #9f9fa0;
	}
}

/*input::-webkit-input-placeholder, input:-moz-placeholder, input::-moz-placeholder, input:-ms-input-placeholder {  
	opacity: 1;	
}

input::-webkit-input-placeholder {
    opacity: 0;
}
*/

.msg-form {
	text-align: center;
	font-size: .875rem;
	line-height: 1rem;
	margin: 0;

	&.erro, &.ok {
		margin-bottom: 20px;
	}
}