$width: 1200px;
$padding-container: 40px;
$padding-col: 15px;

$font-size: 1rem;

$cor-txt: #333333;
$verde: #265c29;
$cinza: #f2f2f2;
$cinza-escuro: #888989;
$amarelo: #e1f6cb;
$azul: #62b5e5;
$cor-principal: $azul;

$vermelho: #790000;
$dourado: #a4925f;
$bege: #a4925f;
$bordo: #790000;
$laranja: #ea793e;
$marrom: #99552b;
$roxo: #ffffff;
$verde-limao: #80BE42;
$pink: #f4364c;

$light: 300;
$regular: 400;
$bold: 700;

$wLogo: 220px;

$hSlide: 85vh;