$width: 1200px;
$padding-container: 40px;
$padding-col: 15px;

$font-size: .875rem;

$cor-txt: #444444;
$verde: #265c29;
$cinza: #e4e4e4;
$cinza-escuro: #888989;
$amarelo: #e1f6cb;
$azul: #62b5e5;
$vermelho: #790000;
$cor-principal: $azul;

$dourado: #a4925f;
$bege: #a4925f;
$bordo: #790000;
$laranja: #ea793e;
$marrom: #99552b;
$roxo: #ffffff;
$verde-limao: #80BE42;
$pink: #f4364c;

$light: 300;
$regular: 400;
$bold: 700;

$wLogo: 220px;

$hSlide: 50vh;